@media (min-width: 1024px) {
  .alcer-logo{
      top: 5%;
  }
  .categorias{
    margin-top: 4%;
  }
  main{
    margin-top: 6%;
  }
  .productTitle{
    margin: 0%;
  }
  .product{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    float: right;
  }
  .productPrincipalImage{
    order: -1;
    width: 40vw;
    margin: 3% 0 0 3%;
  }
  .productTitle {    
    display: block;
    width: 40%;
    text-align: left;
    
  }
  .productSecondaryImage{
    display: none;
  }

    
}