@media (min-width: 768px) {

    .alcer-logo{
        top: 10%;
    }
    .productPrincipalImage {
    width: 60%;
    }
    .categorias{
        margin-top: 4%;
    }
    .productPrincipalImage {
        width: 60%;
      }
      .productSecondaryImage {
        width: 15%;
      }
    .relatedProductImage {
            width: 11vw;
    }
    .relatedProductsScroll {
      flex-direction: ROW;
      width: 100%;
      margin: auto;
  }
  
  
      

  
      
  }