*{
    margin: 0%;
}
body{
    background-color: #f5f4f4;
}
header{
    justify-content: space-between;
    box-shadow: 0 2px 5px 2px rgb(83 82 82 / 18%);
    width: 100%;
}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    position: relative;
    background-color: white;
    box-shadow: 0 2px 5px 2px rgb(83 82 82 / 18%);
    z-index: -1;
}
.burger-menu{
    font-size: x-large;
}

.fa-bars{
    align-items: center;
}

.alcer-logo{
    width: 40%;
    justify-items: center;
    margin: auto;
    right: 25%;
    left: 25%;
    top: 15%;
    position: absolute;
}
.space-header{
    flex-grow: 2.5;
}

.fa-cart-shopping{
    font-size: large;
    padding: 2%;
}

.fa-user{
    font-size: large;
    padding: 2%;
}
.categorias{
    justify-content: space-around;
}
main{
    margin-top: 1%;
    background-color: #f5f4f4;
}
body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
footer{
    background-color: #1A1A1A;
    color: #f5f4f4;
}
.firstProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}
.secondProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}
ul{
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    width: 50%;
    font-weight: bold;
}
.socialMediaList{
    padding: 0vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-decoration: none;
}
li{
    margin: 1vw;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}



.productPrincipalImage{
    display: block;
    margin: auto;
    width: 80vw;
    box-shadow:inset;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.secondaryImages{
    display: flex;
    justify-content: space-around;
}
.productSecondaryImage{
    width:20vw ;
}
.price-discount{
    justify-content: space-around;
    margin: 3%;
    display: flex;
    padding: 3%;
    border-radius: 5px;
}
.price{
    color :#044dac;
    display: flex;
    font-weight: bold;
    margin: 0%;
    font-size: 35px;
}
.discount{
    font-weight: bold;
    color :#044dac;
    display: flex;
    margin: 0%;
    font-size: 25px;
    text-decoration: underline;
}
.addCart{
    background-color: #6cdb50;
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
    padding: 1%;
    font-weight: 500  ;
    display: block;
    margin: auto;
    margin-bottom: 10%;
    width: 80%;
    text-align:center;
    border: white;
    border-radius: 3px;   
}
.relatedProducts{
    text-align: center;
    border-top: solid #8b8888;
    margin: auto;
    width: 90%;
}
h2{
    margin-top: 3%;
}
.relatedProductsScroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.relatedProductsScroll i{
    margin: 1%;
    width: 100%;
}



    .relatedProductCard{
        margin: 3%;
        background-color: #ffffff;
        border-radius: 7%;
        padding: 2%;
        border: #d8d8d8;
        box-shadow: 0 2px 5px 2px rgb(0 0 0 / 50%);
    }
    .imagesOfRelatedProducts{
        display: flex;
        justify-content: space-around;
        margin-bottom: 3vh;
    }
    .relatedProductImage{
        width: 25vw;
        margin: 1%;
    }




    .footer{
        text-align: center;
        margin-top:3% ;
        padding-top:3% ;
    }
    .footer p{
        padding: 3%;
    }
    .contact{
        display: box;
        margin: auto;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .alcerLogo{
        width: 21vw;
        margin: 2%;
    }

    .socialMedia{
        display: flex;
        padding: 3%;
        justify-content: space-around;
    }
    .socialMedia button{
        padding: 2%;
        border-radius: 99%;
        background-color: #8b8888;
        border: #8b8888;
        font-size: larger;
    }
