<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><!--Para dar medidas "responsive"-->
    <title>product-name</title><!--Titulo que se vera en la pestaña del navegador-->

    <link rel="preconnect" href="https://fonts.googleapis.com" /><!--font stuff-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><!--font stuff-->

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"/>

    <link rel="stylesheet" href="/css/normalize.css" /><!--conecta el archivo normalize.css con el home-->
    <link rel="stylesheet" href="/css/utils.css" /><!--conecta el archivo utils.css con el home-->
    <link rel="stylesheet" href="/css/theme.css" /><!--conecta el archivo theme.css con el home-->
    <link rel="stylesheet" href="/css/colors.css" />

    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
  </head>
<body>
  <header>
    <h1>
      <img class=alcerLogo src="\images\logo.jpeg" alt="Alcer supermercado" />
    </h1>
</body>
</html>