<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"><!--font stuff-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--font stuff-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"><!--font stuff-->

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--iconos-->
    <link rel="stylesheet" href="/css/normalize.css" /><!--conecta el archivo normalize.css con el home-->
    <link rel="stylesheet" href="/css/utils.css" /><!--conecta el archivo utils.css con el home-->
    <link rel="stylesheet" href="/css/theme.css" /><!--conecta el archivo theme.css con el home-->
    <link rel="stylesheet" href="/css/colors.css" />

    <title>Alcer</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <a class="font-light-blue burger-menu font-medium">
                <i class="fas fa-bars"></i></a>
            <img class=alcer-logo src="\images\logo-borde.png" alt="Alcer supermercado" />
            <div class="space-header"></div>
            <i class="font-light-blue fa-solid fa-cart-shopping"></i>
            <i class="font-light-blue fa-solid fa-user"></i>
        </div>
        <div class="search-container">
        <div class="search-bar">
            <input placeholder="Encontrá lo que estás buscando"></input>
            <a href=#><button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button></a>
        </div></div>
    </header>
    <main>
        <div>Carrusel</div>
        <section>productos</section>
        <a href="/product-name">PRODUCT NAME</a>
    </main>
    <footer>footer</footer>
</body>
</html>