<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><!--Para dar medidas "responsive"-->
    <title>product-name</title><!--Titulo que se vera en la pestaña del navegador-->

    <link rel="preconnect" href="https://fonts.googleapis.com"><!--font stuff-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><!--font stuff-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"><!--font stuff-->

    

    <link rel="stylesheet" href="/css/normalize.css" /><!--conecta el archivo normalize.css con el home-->
    <link rel="stylesheet" href="/css/utils.css" /><!--conecta el archivo utils.css con el home-->
    <link rel="stylesheet" href="/css/theme.css" /><!--conecta el archivo theme.css con el home-->
    <link rel="stylesheet" href="/css/colors.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-laptop.css" />
  </head>
  <body>
    <header>
      <nav class="header">
        <img class=alcerLogo src="\images\logo.jpeg" alt="Alcer supermercado" />
        <p>lugar para barra de busqueda</p>
          <ul class="list">
            <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href = "#" >Carrito <i class="fas fa-shopping-basket"></i></a></li>
            <li><div class="burger-menu font-heading"><i class="fas fa-bars"></i></li>
      </nav>
      <ul class="categorias"> 
        <li>Carnes</li>
        <li>Quesos y fiambres</li>
        <li>Pescados y mariscos</li>
        <li>Verduras y frutas</li>
        <li>Limpieza</li>
    </header>
    <main>
        <section class="product">    
          <h1>Agua baja en sodio con gas 1,5ml</h1>
          <div>
            <img class="productPrincipalImage" src=\images\Agua-Baja-En-Sodio-Glaciar-Con-Gas-15-L-1-240110.webp  alt="product-name" >
          </div>
          <section class="secondaryImages">
            <img class="productSecondaryImage" src=\images\Agua-Baja-En-Sodio-Glaciar-Con-Gas-15-L-1-240110.webp  alt="product-name" >
            <img class="productSecondaryImage" src=\images\Agua-Baja-En-Sodio-Glaciar-Con-Gas-15-L-1-240110.webp  alt="product-name" >
            <img class="productSecondaryImage" src=\images\Agua-Baja-En-Sodio-Glaciar-Con-Gas-15-L-1-240110.webp  alt="product-name" >
          </section>
          <section class="productDescription">
              <p class="price">$139,99</p>
              <p class="discount">10% off</p>
              <p class="addChart">Agregar al carrito</p>
          </section>
          
            
        </section>
        <section class="relatedProducts">
          <h2>Productos relacionados</h2>
          <nav class="imagesOfRelatedProducts">
              <img class="relatedProductImage" src=\images\Gaseosa-Coca-Cola-Sin-Azucar-1-75lt-1-367450.webp alt="product-name" >
              <img class="relatedProductImage" src=\images\Gaseosa-Paso-De-Los-Toros-Pomelo-15l-1-248189.webp alt="product-name" > 
          </nav>
      </main>
      <footer>
        <section class="footer">
          <h4>Contacto</h4>
            <nav class="contact">
              <p>supermercadoalcer@gmail.com</p>
              <img class=alcerLogo src="\images\logo-borde.png" alt="Alcer supermercado" />
              <p>1122334689</p>
            </nav>
            <nav>
              <h4>Redes</h4>
              <ul class="socialMediaList">
                <li><a href="#">FacebookLink<i class="fab fa-facebook"></i></a></li>
                <li><a href="#">instagramLink<i class="fab fa-instagram-square"></i></a></li>
                <li><a href="#">MessengerLink<i class="fab fa-facebook-messenger"></i></a></li>
              </ul>
            </nav>
        </section>
      </footer>
  </body>
</html>
